## 0) Imports & Engine placeholder

Add the libraries you will use and wire the SQLAlchemy engine (recommended: `db_connection.py`).

In [3]:
# TODO: import needed libraries
from sqlalchemy import create_engine, text
from sqlalchemy.engine import Engine
import urllib.parse
import pandas as pd

#TODO: either create engine here or import from db_connection
#engine = None  #TODO: replace with actual Engine instance (import from db_connection)

In [4]:
# Accessing the database connection from db_connection module
schema = "lianes_library"
host = "127.0.0.1"
user = "root"
raw_password = "Frut@!1469"
password = urllib.parse.quote_plus(raw_password)
port = 3306

connection_string = f"mysql+pymysql://{user}:{password}@{host}:{port}/{schema}"

engine = create_engine(connection_string)

def fetch_all_books(engine: Engine) -> pd.DataFrame:
    """Fetch all records from the books table."""
    query = text("SELECT * FROM books;")
    with engine.connect() as connection:
        result = connection.execute(query)
        df = pd.DataFrame(result.fetchall(), columns=result.keys())
    return df

## Helper: get_engine()

Small abstraction to return the engine object. Move engine creation to `db_connection.py` in production.

In [5]:
def get_engine():
    """
    Return the configured SQLAlchemy engine.

    TODO:
    - If you moved engine creation to `db_connection`, import and return it here.
    - Keep this small helper to centralize access.
    """
    global engine
    if engine is None:
        raise RuntimeError("Database engine not configured. Create or import engine from db_connection.")
    return engine

In [6]:
get_engine()

Engine(mysql+pymysql://root:***@127.0.0.1:3306/lianes_library)

In [7]:
fetch_all_books(engine)

,book_id,ISBN,title,author,cost_book,book_status
0,9830,9780809314591,communication incompetencies,,None,available
1,9831,9791030602043,La spiritualité du judaïsme,,None,available
2,9832,9788498379334,(18).team up! 4 pupils book pack [livre en vo],,None,available
3,9833,9781528701419,"The Mikado; Or, the Town of Titipu (Vocal Score)",,None,available
4,9834,9781021534668,The Building Of An Army : A Detailed Account O...,,None,available
...,...,...,...,...,...,...
71204,81034,9780548569405,Songs And Poems,,None,available
71205,81035,9780548733912,Letters Of Archbishop Ullathorne,,None,available
71206,81036,9780548474976,Prairie Breezes,,None,available
71207,81037,9780548501306,A Gentleman Player,,None,available
71208,81038,9780548588086,The Unpopular Review,,None,available

## 1) CRUD – BOOKS (Catalog)

Example SQL schema (create table) for reference:

```sql
CREATE TABLE books (
    book_id     INT AUTO_INCREMENT PRIMARY KEY,
    ISBN        VARCHAR(20),
    title       VARCHAR(255) NOT NULL,
    author      VARCHAR(255),
    author_id   INT NULL,
    genre       VARCHAR(100),
    cost_book   DECIMAL(10,2),
    book_status ENUM('AVAILABLE','BORROWED','LOST','DAMAGED') DEFAULT 'AVAILABLE' NOT NULL,
    date_added  DATETIME DEFAULT CURRENT_TIMESTAMP
);
```

In [8]:
def create_book(title, author, isbn=None, genre=None, cost=None):
    """
    Insert a new book into `books`.

    Steps (implement):
    1. Validate required fields (title).
    2. Build parameterized INSERT using `text()`.
    3. Open connection and `with conn.begin():` to execute transaction.
    4. Return the new record id or inserted row metadata.
    """
    # TODO: implement using SQLAlchemy text and transactions
    query = text("""
    INSERT INTO books (title, author, ISBN, genre, cost_book)
    VALUES (:title, :author, :isbn, :genre, :cost)
    """)
    with get_engine().connect() as conn:
        transaction = conn.begin()
        try:
            conn.execute(query, {"title": title, "author": author, "isbn": isbn, "genre": genre, "cost": cost})
            transaction.commit()
            return f"Added book '{title}' by {author}."
        except Exception as e:  
            transaction.rollback()
            raise e
    pass

In [9]:
create_book("The Great Gatsby", "F. Scott Fitzgerald", "9780743273565", "Fiction", 10.99)

OperationalError: (pymysql.err.OperationalError) (1054, "Unknown column 'genre' in 'field list'")
[SQL:
    INSERT INTO books (title, author, ISBN, genre, cost_book)
    VALUES (%(title)s, %(author)s, %(isbn)s, %(genre)s, %(cost)s)
    ]
[parameters: {'title': 'The Great Gatsby', 'author': 'F. Scott Fitzgerald', 'isbn': '9780743273565', 'genre': 'Fiction', 'cost': 10.99}]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

In [10]:
def get_books(title=None, author=None, genre=None, status=None, limit=100):
    """
    Retrieve books with optional filters.
    Implement:
    - Build base SQL: SELECT * FROM books WHERE 1=1
    - Append filters only if provided, using parameterized values (LIKE for title/author).
    - Return list of dicts or pandas.DataFrame.
    """
    # TODO: implement dynamic SQL building safely with text()
    query = "SELECT * FROM books WHERE 1=1"
    params = {}
    if title:
        query += " AND title LIKE :title"
        params["title"] = f"%{title}%"
    if author:
        query += " AND author LIKE :author"
        params["author"] = f"%{author}%"
    if genre:
        query += " AND genre = :genre"
        params["genre"] = genre
    if status:
        query += " AND status = :status"
        params["status"] = status
    query += " LIMIT :limit"
    params["limit"] = limit
    query = text(query)
    with get_engine().connect() as conn:
        result = conn.execute(query, params)
        df = pd.DataFrame(result.fetchall(), columns=result.keys())
    return df

    pass

In [11]:
get_books(title="Gatsby")

,book_id,ISBN,title,author,cost_book,book_status
0,37136,9788410433113,El pequeño Gatsby,,None,available
1,50515,9782732899091,Gatsby Le Magnifique,[De Vecchi Editions],None,available

In [12]:
def get_book_by_id(book_id):
    """
    Get a single book by `book_id`.
    Return None if not found.
    """
    # TODO: SELECT * FROM books WHERE book_id = :book_id
    query = text("SELECT * FROM books WHERE book_id = :book_id")
    with get_engine().connect() as conn:
        result = conn.execute(query, {"book_id": book_id})
        row = result.fetchone()
        if row:
            return dict(row._mapping)
        else:
            return None
    pass

In [13]:
get_book_by_id(44631)

{'book_id': 44631,
 'ISBN': '9788415426462',
 'title': '(12).Aplicaciones Ofimaticas (Profesional)',
 'author': '',
 'cost_book': None,
 'book_status': 'available'}

In [18]:
def update_book_details(book_id, title=None, author=None, isbn=None, genre=None, cost=None):
    """
    Update book metadata. Only update fields that are not None.
    Use a transaction and dynamic SET building.
    """
    # TODO: build SET dynamically and execute inside a transaction
    set_clauses = []
    params = {"book_id": book_id}
    if title is not None:
        set_clauses.append("title = :title")
        params[ "title"] = title
    if author is not None:
        set_clauses.append("author = :author")
        params["author"] = author
    if isbn is not None:
        set_clauses.append("isbn = :isbn")
        params["isbn"] = isbn
    if genre is not None:
        set_clauses.append("genre = :genre")
        params["genre"] = genre
    if cost is not None:
        set_clauses.append("cost_book = :cost")
        params["cost"] = cost
    if not set_clauses:
        raise ValueError("No fields to update.")
    set_clause = ", ".join(set_clauses)
    query = text(f"UPDATE books SET {set_clause} WHERE book_id = :book_id")
    with get_engine().connect() as conn:
        transaction = conn.begin()
        try:
            conn.execute(query, params)
            transaction.commit()
            return f"Updated book id {book_id}."
        except Exception as e:
            transaction.rollback()
            raise e
        
    pass

In [19]:
update_book_details(44631,author = "Oscar Chueca", cost=103.34)

'Updated book id 44631.'

In [20]:
get_book_by_id(44631)

{'book_id': 44631,
 'ISBN': '9788415426462',
 'title': '(12).Aplicaciones Ofimaticas (Profesional)',
 'author': 'Oscar Chueca',
 'cost_book': Decimal('103.34'),
 'book_status': 'available'}

In [ ]:
def update_book_status(book_id, new_status):
    """
    Update `book_status` — validate allowed values.
    Allowed: 'AVAILABLE','BORROWED','LOST','DAMAGED'
    """
    # TODO: validate new_status and perform UPDATE in a transaction
    allowed_statuses = {'AVAILABLE', 'BORROWED', 'LOST', 'DAMAGED'}
    if new_status not in allowed_statuses:
        raise ValueError(f"Invalid status '{new_status}'. Allowed statuses: {allowed_statuses}")
    query = text("UPDATE books SET status = :new_status WHERE book_id = :book_id")
    with get_engine().connect() as conn:
        transaction = conn.begin()
        try:
            conn.execute(query, {"new_status": new_status, "book_id": book_id})
            transaction.commit()
            return f"Updated status of book id {book_id} to '{new_status}'."
        except Exception as e:  
            transaction.rollback()
            raise e
    pass

In [ ]:
def delete_book(book_id):
    """
    Delete or logically remove a book.
    Rule: do NOT delete if book is currently BORROWED.
    Consider setting status = 'REMOVED' instead of hard delete.
    """
    # TODO: SELECT status, then conditional DELETE or UPDATE
    pass

## 2) CRUD – AUTHORS (Optional but recommended)

Reference schema:
```sql
CREATE TABLE authors (
    author_id INT AUTO_INCREMENT PRIMARY KEY,
    name      VARCHAR(255) NOT NULL
);
```

In [ ]:
def create_author(name):
    """
    Insert new author. Optionally check duplicates.
    Return new author_id.
    """
    # TODO: check existing name and INSERT
    pass

def get_author_by_name(name):
    """
    Retrieve authors by partial or exact match.
    """
    # TODO
    pass

def get_author_by_id(author_id):
    """
    Retrieve a single author by id.
    """
    # TODO
    pass

def update_author(author_id, new_name):
    """
    Rename author.
    """
    # TODO
    pass

def delete_author(author_id):
    """
    Delete author with caution — ensure no books reference this author.
    """
    # TODO: check FK references before deleting
    pass

## 3) CRUD – BORROWERS (Users)

Reference schema:
```sql
CREATE TABLE borrowers (
    borrower_id INT AUTO_INCREMENT PRIMARY KEY,
    name        VARCHAR(255) NOT NULL,
    email       VARCHAR(255),
    phone       VARCHAR(50),
    address     VARCHAR(255),
    status      ENUM('ACTIVE','INACTIVE') DEFAULT 'ACTIVE',
    date_joined DATETIME DEFAULT CURRENT_TIMESTAMP
);
```

In [ ]:
def create_borrower(name, email=None, phone=None, address=None):
    """
    Insert a new borrower. Default status = 'ACTIVE'.
    """
    # TODO: validate and INSERT
    pass

def get_borrower_by_id(borrower_id):
    """
    Retrieve borrower by id.
    """
    # TODO
    pass

def get_borrowers(name=None, status=None, limit=100):
    """
    List borrowers with optional filters.
    """
    # TODO
    pass

def update_borrower_contact(borrower_id, email=None, phone=None, address=None):
    """
    Update only provided contact fields.
    """
    # TODO
    pass

def set_borrower_status(borrower_id, new_status):
    """
    Set status to 'ACTIVE' or 'INACTIVE'.
    """
    # TODO: validate and UPDATE
    pass

def delete_borrower(borrower_id):
    """
    Logical delete recommended: set status = 'INACTIVE'.
    """
    # TODO
    pass

## 4) CRUD – LOANS (Lending transactions)

Reference schema:
```sql
CREATE TABLE loans (
    loan_id      INT AUTO_INCREMENT PRIMARY KEY,
    book_id      INT NOT NULL,
    borrower_id  INT NOT NULL,
    loan_date    DATE NOT NULL,
    due_date     DATE NOT NULL,
    return_date  DATE,
    status       ENUM('OPEN','RETURNED','OVERDUE') DEFAULT 'OPEN',
    FOREIGN KEY (book_id) REFERENCES books(book_id),
    FOREIGN KEY (borrower_id) REFERENCES borrowers(borrower_id)
);
```

In [ ]:
def create_loan(book_id, borrower_id, loan_date, due_date):
    """
    Create loan only if:
    - book.book_status == 'AVAILABLE'
    - borrower.status == 'ACTIVE'

    Workflow (transactional):
    1. Validate book and borrower.
    2. INSERT into loans.
    3. UPDATE books SET book_status = 'BORROWED'.
    4. Commit on success; rollback on failure.
    """
    # TODO: implement validations and transactional insert/update
    pass

def get_active_loans():
    """
    Return loans where status = 'OPEN'.
    """
    # TODO
    pass

def get_overdue_loans(reference_date=None):
    """
    List loans where due_date < reference_date and status = 'OPEN'.
    """
    # TODO
    pass

def get_loan_history_for_borrower(borrower_id):
    """
    All loans for a borrower.
    """
    # TODO
    pass

def get_loan_history_for_book(book_id):
    """
    Loan history for a book.
    """
    # TODO
    pass

def close_loan(loan_id, return_date):
    """
    Mark loan as returned and set book back to AVAILABLE. Use a transaction.
    """
    # TODO: update loans and books inside a transaction
    pass

def mark_loan_as_overdue(loan_id):
    """
    Optionally mark loan as OVERDUE (for scheduled tasks).
    """
    # TODO
    pass

## 5) Reports / Statistics

Read-only aggregated queries to provide insights.

In [ ]:
def get_most_borrowed_books(limit=10):
    """
    Return books ordered by total number of loans.
    See SQL hint in the blueprint.
    """
    # TODO: implement aggregation query and return results
    pass

def get_most_active_borrowers(limit=10):
    """
    Return borrowers ordered by how many loans they made.
    """
    # TODO
    pass

## 6) Main program (for testing)

Implement a small test runner that exercises the CRUD functions step by step.
Suggested order in tests:
1. Verify DB connection.
2. create_book() → get_books()
3. create_borrower() → get_borrowers()
4. create_loan() and verify book status updated.
5. close_loan() and verify book returned.
6. get_overdue_loans() with a sample past date.

In [ ]:
def main():
    """
    Replace the `pass` implementations above first, then implement small manual tests here.

    Keep side effects minimal and use test records that can be safely removed.
    """
    # TODO: run a sequence of tests that exercise your CRUD operations
    pass

if __name__ == '__main__':
    main()

### Tips & next actions

- Implement functions incrementally and run the tests in `main()` after each change.
- Use `sqlalchemy.text()` with named parameters (avoid f-strings with direct interpolation of variables).
- Wrap multi-step operations (create loan + update book status) inside transactions using `with engine.begin() as conn:`.
- Add logging and error handling; return meaningful error messages on validation failures.
- Consider writing small unit tests for each function using pytest and a disposable test database.